
:root {
    --primary-color: #49243E;
    --secondary-color: #704264;
    --bg-color: #BB8493;
    --text-color: #DBAFA0;
    --btn-hover: #8B5E75;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--primary-color) !important;
}

.navbar-nav .nav-link {
    color: var(--text-color) !important;
}
.herramientas-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.herramienta {
    text-align: center;
    font-size: 2rem;
}

.herramienta i {
    font-size: 3rem;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.info-text {
    max-width: 600px;
    text-align: justify;
}

.info-img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}


.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
}

.card-container {
    display: flex; 
    gap: 20px; 
    overflow-x: auto;
    padding-bottom: 20px; 
}

.card {
    flex: 0 0 auto;
    width: 18rem; 
}
.contacto-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.contacto-info {
    max-width: 300px;
    text-align: left;
}

.contacto-info a {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    margin-bottom: 8px;
}

.contacto-info a:hover {
    text-decoration: underline;
}

.contacto-form {
    width: 300px;
    text-align: center;
}
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
}
