.oval-img {
    border-radius: 50%; 
    width: 250px; 
    height: 250px; 
    object-fit: cover;
}

html body {
    background-color:bisque;
}

.footer {
    background-color: #000000; 
    color: #fff; 
    padding: 20px 0;
    text-align: center; 
}

#herramientas{
    background-color: #000;
    color: #fff; 
    padding: 20px; 
    text-align: center;
}

#proyectos{
    padding: 20px; 
    text-align: center;
}
.card-container {
    display: flex; 
    gap: 20px; 
    overflow-x: auto;
    padding-bottom: 20px; 
}

.card {
    flex: 0 0 auto;
    width: 18rem; 
}

