.oval-img {
    border-radius: 50%; 
    width: 250px; 
    height: 250px; 
    object-fit: cover;
}

.img {
    width: 285px; 
     
    object-fit: cover;
}
html body {
    background-color: bisque;
}

.footer {
    background-color: #000000; 
    color: #fff; 
    padding: 20px 0;
    text-align: center; 
}

#herramientas {
    background-color: #000;
    color: #fff; 
    padding: 20px; 
    text-align: center;
}

#proyectos {
    padding: 20px; 
    text-align: center;
}

.card-container {
    display: flex; 
    gap: 20px; 
    overflow-x: auto;
    padding-bottom: 20px; 
}

.card {
    flex: 0 0 auto;
    width: 18rem; 
}

body a {
    color: rgb(152, 5, 152);
}
#herramientas i {
    font-size: 3rem; 
}
#contacto {
    margin-bottom: 50px;
}

#herramientas {
    margin-bottom: 50px; 
    margin-top: 50px;
}
#proyectos {
    margin-top: 50px;
}